<script defer src="/js/videoCapture.js"></script>
<div class="container">
    <div class="camera">
        <video id="video">Video stream not available.</video>
        <button class="btn waves-effect waves-light startbutton" type="submit">
            Начать регистрацию лица
            <i class="material-icons right">videocam</i>
        </button>
    </div>
    <canvas id="canvas" hidden>
    </canvas>
</div>
