<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/image/favicon.ico" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    >
    <script src="/socket.io/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/navbar.js"></script>
    <title>FaceRecognitionApp</title>
</head>
<body>
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/login/default">Войти</a></li>
    <li class="divider"></li>
    <li><a href="/login/face">Войти по распознованию лица</a></li>
</ul>
<nav>
    <div class="nav-wrapper green accent-3">
        <a href="/" class="brand-logo">FaceRecognitionApp</a>
    <ul class="right hide-on-med-and-down">
            <li><a href="/">Главная</a></li>
        {{#if user}}
            <li><a href="/api/auth/logout">Выйти</a></li>
        {{else}}

                <li><a href="/registration">Регистрация</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Вход<i
                        class="material-icons right">arrow_drop_down</i></a></li>
        {{/if}}
            </ul>
    </div>
</nav>
{{{body}}}
</body>
</html>
